<div class="container">
  <div class="row card first" [style.background-color]="color">
    <div class="title col-sm-12">
      <i class="fa fa-university"></i>
    </div>
    <div class="status verified col-sm-12">
      verified - <span class="badge badge-danger">{{state}}</span>
    </div>
    <div class="row content col-sm-12">
      <div class="info unknownBank col-sm-12">
        <p class="title">Institution</p>
        Navy Federal Credit Union
      </div>
      <div class="info knownBank col-sm-12">
        <div class="logo"></div>
      </div>
      <bank-profile-account-info [accountNum]="12123124124" [routingNum]="12135352212" (onSubmit)="changeState($event)"></bank-profile-account-info>
    </div>
    <div class="footer col-sm-12">
      <div class="action" [class.reveal]="!paying" [hidden]="payAnim">
        <a (click)="togglePay(true)">Pay</a>
      </div>
      <div class="confirm" [class.reveal]="paying" [hidden]="!payAnim">
        <span class="message">Pay bill $100?</span>
        <a (click)="pay()">Yes</a>
        <a (click)="togglePay(false)">No</a>
      </div>
    </div>
  </div>
</div>
